:root {
    --violet: rgba(157, 92, 208, 1);
}

* {
    font-family: 'Open Sans', sans-serif;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
    padding: 0;
    background-color: #0000;
    border: none;
    cursor: pointer;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.container {
    position: relative;
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.btn {
    padding: 17px 35px;
    border: 2px solid var(--violet);
    border-radius: 100px;
    color: var(--violet);
}

.header {
    font-weight: normal;
    font-size: 48px;
    line-height: 65px;
}

.description {
    margin-top: 25px;
    font-size: 16px;
    line-height: 32px;
}

.white-header {
    color: #fff;
}

.subheader {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
}

[class*="ground-pane"] {
    filter: grayscale(1);
}

/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* -Header--Header--Header--Header--Header--Header--Header--Header--Header--Header--Header--Header--Header--Header--Header--Header--Header- */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */


.header-container,
.upper-header,
.lower-header-nav__list,
.lower-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upper-header {
    height: 100px;
    background-color: #000;
}

.burger-menu {
    display: none;
}

.search {
    display: none;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
    color: #fff;
}

.blanchard {
    font-size: 22px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    width: 900px;


}

.nav-btn {
    background: #0000;
    color: #fff;
    border: none;
}

.enter-link {
    color: #fff;
}

.enter-svg {
    padding-right: 4px;
}

.lower-header {
    height: 70px;
    background: rgba(0, 0, 0, 0.4);
    transform: translateY(70px);
}

.lower-header-nav__list {
    display: flex;
    width: 1070px;
}

.lower-header-nav-list__item {
    color: #fff;
}

.search-btn {
    background-color: #0000;
    border: none;
    transform: translate(-3px, 6px);
}

.search-input {
    background-color: #0000;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.search-input:focus {
    outline: none;
}

.search-input::placeholder {
    color: rgba(255, 255, 255, 0.85);
}


/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* -Hero--Hero--Hero--Hero--Hero--Hero--Hero--Hero--Hero--Hero--Hero--Hero--Hero--Hero--Hero--Hero--Hero--Hero--Hero--Hero--Hero--Hero--Hero- */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */

.hero-swiper {
    width: 100%;
    height: 700px;
    z-index: -1;
}

.slide-1,
.slide-2,
.slide-3 {
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-1 {
    background: url(../img/hero-bg-1.jpg);
}

.slide-2 {
    background: url(../img/hero-bg-2.jpg);
}

.slide-3 {
    background: url(../img/hero-bg-3.jpg);
}

.hero-container {
    transform: translateY(-770px);
    z-index: 10;
}

.hero-header-bg {
    height: 70px;
    background-color: rgba(0, 0, 0, 0.4);
}

.section-hero {
    position: relative;
    /* margin-top: -70px; */
    padding: 0;
    height: 700px;
    /* transform: translateY(-70px); */
}

.hero__header {
    width: 597px;
    margin-top: 133px;
    font-weight: bold;
    font-size: 72px;
    line-height: 82, 8px;
    color: #FFFFFF;
}

.hero__description {
    width: 597px;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

.subscribe-btn {
    margin-top: 92px;
    color: #fff;
    background-color: var(--violet);
}


/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* -About-Us--About-Us--About-Us--About-Us--About-Us--About-Us--About-Us--About-Us--About-Us--About-Us--About-Us--About-Us--About-Us--About-Us-*/
/* ------------------------------------------------------------------------------------------------------------------------------------------ */

.about-us__description {
    width: 1080px;
}


/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* -Gallery--Gallery--Gallery--Gallery--Gallery--Gallery--Gallery--Gallery--Gallery--Gallery--Gallery--Gallery--Gallery--Gallery--Gallery-*/
/* -------------------------------------------------------------------------------------------------------------------------------------------- */

.section-gallery {
    height: 795px;
    padding: 80px 0;
    background-image: url(../img/gallery-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-container {
    height: 795px;
    display: flex;
}

.gallery-right {
    margin-left: 50px;
}

.gallery-swiper {
    width: 1150px;
    height: 750px;
    transform: translateY(45px);
}

.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: auto;
    top: 10px;
}

[class*="gallery-slide"] {
    width: 350px !important;
    height: 350px !important;
    margin-right: 50px !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    height: calc((100% - 30px) / 2);
}

[class*="gallery-slide"]:nth-child(2n) {
    margin-top: 50px !important;
}

.gallery-slide-1 {
    background: url(../img/gal-1.jpg);
}

.gallery-slide-2 {
    background: url(../img/gal-2.jpg);
}

.gallery-slide-3 {
    background: url(../img/gal-3.jpg);
}

.gallery-slide-4 {
    background: url(../img/gal-4.jpg);
}

.gallery-slide-5 {
    background: url(../img/gal-5.jpg);
}

.gallery-slide-6 {
    background: url(../img/gal-6.jpg);
}

.gallery-slide-7 {
    background: url(../img/gal-7.jpg);
}

.gallery-slide-8 {
    background: url(../img/gal-8.jpg);
}

.gallery-slide-9 {
    background: url(../img/gal-9.jpg);
}

.gallery-slide-10 {
    background: url(../img/gal-10.jpg);
}

.gallery-slide-11 {
    background: url(../img/gal-11.jpg);
}

.gallery-slide-12 {
    background: url(../img/gal-12.jpg);
}

.gallery-slide-13 {
    background: url(../img/gal-13.jpg);
}

.gallery-slide-14 {
    background: url(../img/gal-14.jpg);
}

.gallery-slide-15 {
    background: url(../img/gal-15.jpg);
}

.gallery-slide-16 {
    background: url(../img/gal-16.jpg);
}

.gallery-slide-17 {
    background: url(../img/gal-17.jpg);
}

.gallery-slide-18 {
    background: url(../img/gal-18.jpg);
}

.gallery-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 100%;
}

.gallery-filter__description {
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #fff;
}

.gallery__description {
    font-weight: 600;
    color: #fff;
}

.authorise {
    color: var(--violet);
}

/* -------------- */
/* ----Choices----*/
/* -------------- */

.choices__inner {
    display: flex;
    align-items: center;
    width: 385px;
    height: 40px;
    color: #fff;
    background: #0000;
    border-radius: 6px;
}

.choices[data-type*=select-one] .choices__inner {
    padding: 0;
    padding-left: 15px;
}

.is-open .choices__inner {
    border-radius: 6px;
}

.choices[data-type*=select-one]:after {
    width: 12px;
    height: 12px;
    top: 40%;
    border: none;
    background: url(../img/select-v.png);
}

.choices[data-type*=select-one].is-open:after {
    margin-top: -2px;
}

.choices__list {
    padding: 0;
}

.choices__item--choice {
    color: rgba(153, 153, 153, 1);
}

.is-highlighted {
    /* color: var(--violet); */
    color: #fff;
}

.choices__item:not(:last-child) {
    border-bottom: 1px solid rgba(153, 153, 153, 1);
}

.choices__list .is-selected {
    display: none;
}

.choices__list--dropdown {
    width: 400px;
    color: #fff;
    background: #0000;
    border-radius: 6px;
}

.is-open .choices__list--dropdown {
    border: 1px solid rgba(153, 153, 153, 1);
}

.choices__list--dropdown .choices__item {
    padding-left: 20px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: #0000;
}


/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* -Catalog--Catalog--Catalog--Catalog--Catalog--Catalog--Catalog--Catalog--Catalog--Catalog--Catalog--Catalog--Catalog--Catalog--Catalog--Catalog-*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

.catalog-header-container {
    display: flex;
    justify-content: space-between;
    width: 650px;
}

.flags {
    display: flex;
    justify-content: space-between;
    width: 450px;
}

.flag-item-btn {
    transform: translateY(10px);
}

.catalog__description {
    margin-top: 20px;
    width: 1080px;
}

.catalog-main-container {
    display: flex;
    margin-top: 50px;
}

.catalog-left {
    width: 750px;
    padding-right: 50px;
}

.catalog-right {
    width: 800px;
}

.artist-name {
    margin-top: 30px;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
}

.artist-date {
    margin-top: 15px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}

.artist__description {
    margin-top: 15px;
}

.accordion-div {
    display: flex;
    flex-direction: row;
    padding: 25px 0 35px 0 !important;
    margin-top: 0px;

    border-right: none;
    border-left: none;
}

.ui-accordion-content-active {
    border-top: 1px solid var(--violet) !important;
    border-bottom: 1px solid var(--violet) !important;

}

.accordion-content-column {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}

.accordion-list__item {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 38px 0 44px 0 !important;
    margin-top: -1px !important;
    background-color: #0000;
    border: none;
    border-top: 1px solid rgba(202, 202, 202, 1);
    border-bottom: 1px solid rgba(202, 202, 202, 1);
    border-radius: 0;

    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}


/* ------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------Тут проблема вообще говоря ----------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------ */

.accordion-close-svg {
    d: M33.3333 26.6667L25 18.3333L16.6667 26.6667;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* ----------------------------------------------------Тут проблема вообще говоря ------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------ */


.accordion-content__item:hover {
    color: var(--violet);
}

.ui-state-active {
    color: black;
}

.ui-state-focus {
    outline: none;
}

.ui-accordion-header-icon {
    display: none;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------- */
/* -Events--Events--Events--Events--Events--Events--Events--Events--Events--Events--Events--Events--Events--Events--Events--Events--Events-*/
/* -------------------------------------------------------------------------------------------------------------------------------------- */


.events-group__hidden {
    display: none;
}

.events-stickers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
}

.events-stickers__item {
    width: 500px;
    height: 700px;
    border: 1px solid #CACACA;
}

.events-item__content {
    height: 50%;
    padding: 13px 19px 35px 50px;
}

.all-events-button__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 50px;
}

.event-date-n-place {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: rgba(153, 153, 153, 1);
}

.event-name {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
}

.event-description {
    margin-top: 0;
    font-size: 16px;
    line-height: 32px;
}

.btn-more {
    padding: 0;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--violet);
}

.event-content__subcontainer {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}



/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* -Editions--Editions--Editions--Editions--Editions--Editions--Editions--Editions--Editions--Editions--Editions--Editions--Editions--Editions-*/
/* ------------------------------------------------------------------------------------------------------------------------------------------ */


.section-editions {
    height: 760px;
    background: url(../img/editions-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.price-span,
.categories-label,
.categories-subheader {
    line-height: 32px;
    color: #fff;
}

.categories-subheader {
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold;
}

.categories-label {
    font-weight: normal;
}

.price__input {
    width: 63px;
    height: 41px;
    padding-left: 10px;
    border: none;
    background-color: var(--violet);
    color: #fff;
}

.price__input::-webkit-outer-spin-button,
.price__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.price__input[type=number] {
    -moz-appearance: textfield;
}

.price-input__container {
    width: 297px;
    margin-top: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 6px;
}

.price-span {
    padding-right: 10px;
    padding-left: 10px;
}

.categories-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    opacity: 0;
}

.categories-list__item {
    position: relative;
}

.categories-label {
    padding-left: 24px;
}

.categories-label:hover {
    cursor: pointer;
}

.check {
    position: absolute;
    top: 8px;
    left: 0;
    width: 12px;
    height: 12px;
    border: 1px solid #fff;
}

.check::before {
    content: '\2022';
    position: absolute;
    top: -9px;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    color: var(--violet);
    opacity: 0;
    transition: opacity .1s ease-in-out;
}

.categories-radio:checked + .check::before {
    opacity: 1;
}

.categories-radio:checked + .check {
    border-color: var(--violet);
}



/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* -Projects--Projects--Projects--Projects--Projects--Projects--Projects--Projects--Projects--Projects--Projects--Projects--Projects--Projects-*/
/* ------------------------------------------------------------------------------------------------------------------------------------------ */



.projects-description {
    width: 1080px;
}

.tooltype img {
    transform: translateY(3px);
}

.tooltype:hover {
    cursor: pointer;
}

.projects-subheader {
    margin-top: 30px;
}

.projests-link {
    color: var(--violet);
}



/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* -Contacts--Contacts--Contacts--Contacts--Contacts--Contacts--Contacts--Contacts--Contacts--Contacts--Contacts--Contacts--Contacts--Contacts-*/
/* ------------------------------------------------------------------------------------------------------------------------------------------ */

.section-contacts {
    height: 685px;
}

.contacts-container {
    display: flex;
}

.contacts-overlay-container {
    transform: translateY(-576px);
}

.contacts-left {
    width: 680px;
    height: 698px;
    background-color: transparent;
    border: 1px solid #cacaca;
}

.contacts-right {
    z-index: 10;
}

.addres {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.call-us-subheader {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: normal;
}

.call-us-form {
    width: 400px;
}

.contacts-input {
    width: 400px;
    height: 40px;
    padding: 0 0 0 24px;
    margin-bottom: 22px;
    border: 1px solid #333333;
    border-radius: 100px;
}


/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* -Foooterr--Foooterr--Foooterr--Foooterr--Foooterr--Foooterr--Foooterr--Foooterr--Foooterr--Foooterr--Foooterr--Foooterr--Foooterr--Foooterr-*/
/* ------------------------------------------------------------------------------------------------------------------------------------------ */


footer {
    height: 140px;
    background-color: #000;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.foter-logo{
    display: flex;
    height: 40px;
    width: 173px;
}

.so-links {
    width: 175px;
    display: flex;
    justify-content: space-between;
}